/***************************************************************
CSS Reset
***************************************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;

}



/***************************************************************
Base Rules
***************************************************************/
h1{
    font-size: 2rem;
    
}


/***************************************************************
Layout Rules
***************************************************************/
.container-fluid{
   padding: 0 2rem;
    margin: 0 auto;
   
      
}
body{
    color: rgb(85, 101, 117);
    margin: 0 auto;
    overflow: auto;
}



/**************************************************************
Components
**************************************************************/

.dropdown-item strong{
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: rgb(64, 82, 97);
}
.dropdown-item p{
    font-size: 13px;
    margin: 0px;
    line-height: 1.5;
}
.submenu li, .dropdown-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pack-title{
    display: inline-flex;
    width: 90%;
    justify-content: center;
    flex-wrap: wrap;
}
.pack-title h1{
    justify-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.form{
    display: flex;
    justify-content: center;
}





/***********************************************************
Media queries
***********************************************************/